:root {
  --primary-ex-light: #e6f9e6;
  --primary-light: #b6e7b6;
  --primary: #6fcf97;
  --primary-dark: #219653;
  --primary-ex-dark: #14532d;

  --secondary-ex-light: #f0fff4;
  --secondary-light: #d1fae5;
  --secondary: #a7f3d0;
  --secondary-dark: #34d399;
  --secondary-ex-dark: #059669;
  --secondary-ex-dark-opacity: #05966985;

  --tertiary-ex-light: #f7fafc;
  --tertiary-light: #e2e8f0;
  --tertiary: #c6f6d5;
  --tertiary-dark: #81e6d9;
  --tertiary-ex-dark: #319795;
  --tertiary-ex-dark-opacity: #31979585;

  --auxiliary-ex-light: #fef9c3;
  --auxiliary-light: #fef08a;
  --auxiliary: #fde047;
  --auxiliary-dark: #facc15;
  --auxiliary-ex-dark: #ca8a04;
  --auxiliary-ex-dark-opacity: #ca8a0485;

  --dark-ex-light: #e5e7eb;
  --dark-light: #d1d5db;
  --dark: #9ca3af;
  --dark-dark: #6b7280;
  --dark-ex-dark: #374151;
  --dark-dark-opacity: #37415185;

  --white: #ffffff;
  --black: #000000;
  --alert: #f20505;
}
